{{ define "main" }}

<!-- page-title -->
<section class="section bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4>404</h4>
      </div>
    </div>
  </div>
</section>
<!-- /page-title -->

<!-- 404 body -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <article class="content">
          <hr/>
          <p>Sorry, this page was not found, but we encourage you to click around and find something else.</p>
          <p><a href="{{ "/" | relURL }}">Go Home</a></p>
        </article>
      </div>
      {{partial "sidebar.html" . }}
    </div>
  </div>
</section>
{{ end }}
